In [1]:
import pandas as pd

# 1. Données

In [4]:
RAW_PATH = 'data/1_raw_data/'
DATA_PATH = 'data/2_preprocessed_data/'

## 1.1. Business

In [14]:
business = pd.read_json(RAW_PATH + 'business.json', lines=True)

In [15]:
business.shape

(150346, 14)

In [16]:
business.sample(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
100843,QmuwC83Ozq7rhCiYc5gBcA,Sutton Galleries,519 Royal St,New Orleans,LA,70130,29.956895,-90.065973,3.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Shopping, Art Galleries, Arts & Entertainment","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
32628,DFaEBLXv0z5eVac3pY8mKQ,SquareTrade Go,,St. Louis,MO,63146,38.688757,-90.464391,4.0,11,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","IT Services & Computer Repair, Mobile Phone Re...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
64710,l4TrbGX-sCTc2OR2VGCxjg,Vista Inn,5770 Old Hickory Blvd,Hermitage,TN,37076,36.171810,-86.601728,1.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Event Planning & Services, Hotels & Travel, Ho...","{'Monday': '0:0-12:0', 'Tuesday': '0:0-12:0', ..."
86669,hiP3H0wW45I0jZI7KafzZg,Spicy Memory,1105 Walnut St,Philadelphia,PA,19107,39.948947,-75.159238,4.0,128,0,"{'WheelchairAccessible': 'True', 'RestaurantsD...","Szechuan, Restaurants, Chinese, Asian Fusion, ...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
97019,ygfNttCMGWAuM69R_-SoPQ,Curl Hair and Wellness,1029 W Lancaster Ave,Bryn Mawr,PA,19010,40.024220,-75.323469,4.0,63,1,"{'BusinessParking': '{'garage': False, 'street...","Hair Extensions, Hair Stylists, Hair Salons, B...","{'Tuesday': '10:0-18:0', 'Wednesday': '10:0-19..."

In [17]:
business.isnull().sum()

business_id         0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      13744
categories        103
hours           23223
dtype: int64

In [18]:
business.categories.fillna('Unknown', inplace=True)

In [19]:
business[(business.categories.apply(lambda x: x.count('Restaurant'))>0) & (business.city == 'Philadelphia')]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","Sushi Bars, Restaurants, Japanese","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-..."
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...","Korean, Restaurants","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20..."
28,QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,0,"{'Smoking': 'u'no'', 'NoiseLevel': 'u'average'...","Cocktail Bars, Bars, Italian, Nightlife, Resta...","{'Monday': '16:0-0:0', 'Tuesday': '16:0-0:0', ..."
31,Mjboz24M9NlBeiOJKLEd_Q,DeSandro on Main,4105 Main St,Philadelphia,PA,19127,40.022466,-75.218314,3.0,41,0,"{'RestaurantsReservations': 'False', 'Caters':...","Pizza, Restaurants, Salad, Soup","{'Tuesday': '17:0-21:30', 'Wednesday': '17:0-1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150287,VZbkSeZtFynEascotq7ExA,Ali Baba Magic Food,37TH And Walnut,Philadelphia,PA,19104,39.953391,-75.196765,4.0,8,0,"{'GoodForKids': 'False', 'RestaurantsReservati...","Restaurants, Food Stands",None
150298,gPr1io7ks0Eo3FDsnDTYfg,Tata Cafe,7201 Germantown Ave,Philadelphia,PA,19119,40.060414,-75.191084,4.0,21,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Sandwiches, Restaurants, Italian","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ..."
150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,55,1,"{'NoiseLevel': 'u'average'', 'RestaurantsTakeO...","Restaurants, Specialty Food, Food, Sandwiches,...","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."
150319,8n93L-ilMAsvwUatarykSg,Kitchen Gia,3716 Spruce St,Philadelphia,PA,19104,39.951018,-75.198240,3.0,22,0,"{'RestaurantsGoodForGroups': 'True', 'BikePark...","Coffee & Tea, Food, Sandwiches, American (Trad...","{'Monday': '9:0-19:30', 'Tuesday': '9:0-19:30'..."
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

## 1.2. Review

In [20]:
review = pd.read_json(RAW_PATH + 'review.json',
                      lines=True,
                     dtype={
                            "review_id": str,
                            "user_id": str,
                            "business_id": str,
                            "stars": 'uint8',
                            "useful": 'int16',
                            "funny": 'int16',
                            "cool": 'int16',
                            "text": str,
                            "date": "datetime64[ns]",
                        }
                     )

In [21]:
review.describe()

              stars        useful         funny          cool
count  6.990280e+06  6.990280e+06  6.990280e+06  6.990280e+06
mean   3.748584e+00  1.184609e+00  3.265596e-01  4.986175e-01
std    1.478705e+00  3.253767e+00  1.688729e+00  2.172460e+00
min    1.000000e+00 -1.000000e+00 -1.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
max    5.000000e+00  1.182000e+03  7.920000e+02  4.040000e+02

- Stars  :  1 à 5
- Useful : -1 à 1182
- Funny  : -1 à 792
- Cool   : -1 à 404

In [22]:
review.shape

(6990280, 9)

## 1.3. Photos

In [23]:
photos = pd.read_json(RAW_PATH + 'photos.json', lines=True)

FileNotFoundError: File data/1_raw_data/photos.json does not exist

In [ ]:
photos.head()

In [ ]:
photos.label.value_counts()

## 1.4. Divers

### Users

In [5]:
user = pd.read_json(RAW_PATH + 'user.json', lines=True)

In [6]:
user.shape

(1987897, 22)

In [7]:
user.sample(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
62486,w0IZ2yuJVWq156DVEByRhQ,Jenny,69,2012-05-23 16:10:08,75,29,32,,"hS_WWVxGrz6834G63Zeh2w, K2i0_MbHvKqqxc9eWUk_WQ...",3,...,0,0,0,0,2,4,2,2,1,0
1022,73kIryVqqekf3-mlBd4ocQ,Hilary,160,2010-12-23 00:01:27,431,97,229,"2011,2013,2014,2015,2016,2017,2018","Y1q1tQV-MRmNmXg59PPVuA, ie3nXtDTyHhJchMuYh_WXQ...",25,...,8,2,0,5,50,25,63,63,27,4
1884115,RPBg_3Zn7ZVsyi8qNo4Ghw,Aracely,4,2014-08-30 23:25:40,1,0,0,,fDwJhM_24LhBN3e1lqGYew,0,...,0,0,0,0,0,0,0,0,0,0
1530299,x2MmmIxDJ3QB7Hcx-z5G-Q,Terri,1,2012-04-03 16:05:54,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
16101,ATOtdED7E85eDnyvXF0qUQ,Kimberly,34,2011-11-07 19:56:17,28,3,8,,"Yki5UutDjvgtiNcXNcjxGg, pfDShTLPKH669C311wi8HQ...",4,...,0,0,0,0,1,0,0,0,0,0

### Checkin

In [8]:
checkin = pd.read_json(RAW_PATH + 'checkin.json', lines=True)

In [9]:
checkin.shape

(131930, 2)

In [10]:
checkin.sample(5)

,business_id,date
109360,pB9AaRfSnm9Rtc54beUccg,"2011-12-20 00:16:58, 2012-03-31 17:59:51, 2012..."
90205,fq2i-UQ5h1sscPnyq1JO1A,"2013-10-27 18:02:16, 2013-11-15 00:04:19, 2014..."
84605,d7deQyYhH_RRc45AQImMXw,"2012-06-16 22:08:26, 2012-07-19 23:03:06, 2012..."
123253,vsP4Zk-9nbDlVX79DpdQfA,2017-03-15 15:43:09
89735,fbCAXeed92ayKpu1xBCMxw,"2011-02-14 23:29:00, 2011-06-21 00:02:15, 2011..."

### Tip

In [11]:
tip = pd.read_json(RAW_PATH + 'tip.json', lines=True)

In [12]:
tip.shape

(908915, 5)

In [13]:
tip.sample(5)

,user_id,business_id,text,date,compliment_count
860844,wygcxXJRIRS7JwfgzclCBw,mnwTbHyIgpMvOG9705zqWA,$25 for self guided museum tour,2014-07-14 19:18:41,0
542099,BuOsix4f-FZLQLxW57QbQg,nYsNsyIppe_DTueBha1x9A,Great food,2021-03-19 15:22:45,0
410988,vekEZkHLDO3iqm90es-rmw,dXTXpAK6IpeR8PLFY7D-AQ,Waitlist available now ahead of time instead o...,2021-07-17 23:47:18,0
250590,BXw9CYYYayVwgvYIG8eQFA,zuZ8mK0hoEB2Q3r7j-_ZqA,Hire Christian Hunter.,2014-04-20 00:21:47,0
857349,a91LeshH5vyiDA2w6TZujw,XeeTJDWyvj6JSDxGgG4A6A,Food was DELICIOUS! The staff was VERY friend...,2020-10-09 01:55:35,0

# 2. Sélection des données

## 2.1. Sélection des restaurants

Pour pouvoir conserver les avis/reviews des restaurants uniquement, il nous faut réunir les données de review.json et de business.json.

In [ ]:
merged_data = pd.merge(
    review,
    business,
    how="left",
)

In [ ]:
merged_data.sample(5)

On élimine les lignes dont les catégories ne sont pas renseignés (NaN).

In [ ]:
merged_data.dropna(subset=['categories'], inplace=True)

In [ ]:
selected_data = merged_data[(merged_data.categories.apply(lambda x: x.count('Restaurant'))>0)]
selected_data.shape

Nous n'avons plus que 630 000 avis.

In [ ]:
selected_data.stars.value_counts()

In [ ]:
selected_data.stars.value_counts().plot.pie()

On peut avoir que les avis sont nettement positifs.

## 2.2. Sélection selon la note

### 2.2.1. Avis négatifs

In [ ]:
bad_reviews_sample = selected_data[selected_data.stars < 3].sample(7500)

In [ ]:
bad_reviews_sample.sample(5)

In [ ]:
bad_reviews_sample.shape

In [ ]:
bad_reviews_sample_text = bad_reviews_sample.text

### 2.2.2. Avis positifs

In [ ]:
good_reviews_sample = selected_data[review.stars > 4].sample(7500)

In [ ]:
good_reviews_sample.sample(5)

In [ ]:
good_reviews_sample_text = good_reviews_sample.text

### 2.2.3. Avis moyen

In [ ]:
reviews_sample = selected_data[(review.stars > 2) & (review.stars < 5)].sample(7500)

In [ ]:
reviews_sample_text = reviews_sample.text

### 2.2.4. Réunion des 3 dataset

In [ ]:
all_reviews = bad_reviews_sample_text.append(good_reviews_sample_text)

In [ ]:
all_reviews = all_reviews.append(reviews_sample_text)

## 3. Export

In [ ]:
bad_reviews_sample_text.to_csv('data/bad_reviews', index=False)

In [ ]:
good_reviews_sample_text.to_csv('data/good_reviews', index=False)

In [ ]:
all_reviews.to_csv('data/sample_reviews', index=False)